@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o2jf3WypfQQP02nP_ZmoBRo.woff) format('woff');
}

html {
  position: relative;
  min-height: 100%;
  font-size: 18px;
}

body {
  width: 100%;
  margin: 0;
  padding-bottom: 18px;
  padding-bottom: 1rem;
  font-family: "Press Start 2P", Arial, sans-serif;
  font-size: 18px;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  line-height: 2;
  background-color: #000;
  background-image: url("https://lh3.googleusercontent.com/x8ON_muNBrAUY7x7X4pIAysFueSQRMBLCEd16QlIj7cFOX14XSrtHVsYRQ3zg4uDVDmGNEpCFzUS=w1241-h698-no");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #69c;
}

li {
  list-style: none;
  display: inline-block;
}

#notifier {
  position: absolute;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Arial", "Sans-serif";
  color: #fff;
  background-color: rgba(200, 0, 0, 0.9);
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#game-window {
  margin-top: 36px;
  margin-top: 2rem;
}

.side-panels {
  margin: 0 54px 0 54px;
  margin: 0 3rem 0 3rem;
  color: #fff;
  text-align: left;
}

.left-panel {
  width: 270px;
  width: 15rem;
  float: left;
}

#game-score {
  margin-bottom: 36px;
  margin-bottom: 2rem;
}

.right-panel {
  width: 270px;
  width: 15rem;
  float: right;
}

#game-time {
  margin-bottom: 36px;
  margin-bottom: 2rem;
}

#lives {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.game-audio {
  line-height: 1.5;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border: 3px solid #fff;
  border: 0.167rem solid #fff;
  content: "\00a0";
  display: inline-block;
  height: 15px;
  height: 0.833rem;
  width: 15px;
  width: 0.833rem;
  margin: 0px 5px 0px 0px;
  margin: 0px 0.278rem 0px 0px;
  vertical-align: top;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  background: #fff;
  text-align: center;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14.4px;
  font-size: 0.80rem;
  color: #fff;
  text-align: center;
}

footer p {
  display: inline-block;
  margin: 0 27px;
  margin: 0 1.5rem;
}
